USE [master]
GO
/****** Object:  Database [VATLIEUXAYDUNG]    Script Date: 09/10/2019 18:06:34 ******/
CREATE DATABASE [VATLIEUXAYDUNG] ON  PRIMARY 
( NAME = N'VATLIEUXAYDUNG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\VATLIEUXAYDUNG.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'VATLIEUXAYDUNG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\VATLIEUXAYDUNG_log.LDF' , SIZE = 504KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VATLIEUXAYDUNG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VATLIEUXAYDUNG]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 09/10/2019 18:06:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [varchar](10) NOT NULL,
	[TENNCC] [nvarchar](100) NULL,
	[EMAIL] [nvarchar](100) NULL,
	[SDT] [varchar](11) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [EMAIL], [SDT]) VALUES (N'CTVL', N'Công Ty Việt Lào', N'vietlao@gmail.com', N'0948568572')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [EMAIL], [SDT]) VALUES (N'CTVLGN', N'Công Ty Vật Liệu Xây Dựng Gạch Bình Đinh', N'GachBinhDinh@gmail.com', N'0964424551')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [EMAIL], [SDT]) VALUES (N'CTXMLT', N'Công ty Xi Măng Lân Thao', N'LanThao@gmail.com', N'0947521867')
/****** Object:  Table [dbo].[LOAISANPHAM]    Script Date: 09/10/2019 18:06:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAISANPHAM](
	[MALOAI] [varchar](10) NOT NULL,
	[TENLOAI] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[LOAISANPHAM] ([MALOAI], [TENLOAI]) VALUES (N'C', N'Cát')
INSERT [dbo].[LOAISANPHAM] ([MALOAI], [TENLOAI]) VALUES (N'GLN', N'Gạch Lát Nền')
INSERT [dbo].[LOAISANPHAM] ([MALOAI], [TENLOAI]) VALUES (N'GXD', N'Gạch Xây Dựng')
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 09/10/2019 18:06:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[EMAIL] [nvarchar](100) NULL,
	[SDT] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [EMAIL], [SDT]) VALUES (1, N'Võ Van Long', N'01Long Biên -Ð?ng Ða - Hà N?i', N'vanlong@gmail.com', N'0964424551')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [EMAIL], [SDT]) VALUES (2, N'Hào', N'Quy Nhon', N'hao@gmail.com', N'0947682185')
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
/****** Object:  Table [dbo].[QUANLY]    Script Date: 09/10/2019 18:06:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QUANLY](
	[TAIKHOAN] [varchar](100) NOT NULL,
	[MATKHAU] [varchar](20) NULL,
	[EMAIL] [varchar](100) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[SDT] [varchar](11) NULL,
	[HOTEN] [nvarchar](100) NULL,
	[PHANQUYEN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TAIKHOAN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[QUANLY] ([TAIKHOAN], [MATKHAU], [EMAIL], [DIACHI], [SDT], [HOTEN], [PHANQUYEN]) VALUES (N'admin', N'admin', N'admin@gmail.com', N'Quy Nhon', N'0964424551', N'ADMIN', 1)
INSERT [dbo].[QUANLY] ([TAIKHOAN], [MATKHAU], [EMAIL], [DIACHI], [SDT], [HOTEN], [PHANQUYEN]) VALUES (N'nghia', N'nghia', N'nghia@gmail.com', N'Quy Nhon123', N'0964424551', N'Nghia', 0)
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 09/10/2019 18:06:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [varchar](10) NOT NULL,
	[TENSP] [nvarchar](100) NULL,
	[HINHANH] [nvarchar](100) NULL,
	[DONVITINH] [nvarchar](100) NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [float] NULL,
	[MALOAI] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [HINHANH], [DONVITINH], [SOLUONG], [DONGIA], [MALOAI]) VALUES (N'CN', N'Cát nền', N'CatNen.jpg', N'Xe', 2000, 1100000, N'C')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [HINHANH], [DONVITINH], [SOLUONG], [DONGIA], [MALOAI]) VALUES (N'CT', N'Cát Tô', N'CatTo.jpg', N'Xe', 2000, 1100000, N'C')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [HINHANH], [DONVITINH], [SOLUONG], [DONGIA], [MALOAI]) VALUES (N'GDT', N'Gạch Đồng Tiền', N'GachDongTien.jpg', N'Viên', 2000, 7000, N'GXD')
/****** Object:  Table [dbo].[NHAPHANG]    Script Date: 09/10/2019 18:06:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHAPHANG](
	[MANHAPHANG] [varchar](10) NOT NULL,
	[TAIKHOAN] [varchar](100) NULL,
	[MANCC] [varchar](10) NULL,
	[NGAYNHAP] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANHAPHANG] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[NHAPHANG] ([MANHAPHANG], [TAIKHOAN], [MANCC], [NGAYNHAP]) VALUES (N'HD002', N'admin', N'CTVL', CAST(0x233F0B00 AS Date))
INSERT [dbo].[NHAPHANG] ([MANHAPHANG], [TAIKHOAN], [MANCC], [NGAYNHAP]) VALUES (N'HD01', N'admin', N'CTVL', CAST(0x273F0B00 AS Date))
INSERT [dbo].[NHAPHANG] ([MANHAPHANG], [TAIKHOAN], [MANCC], [NGAYNHAP]) VALUES (N'HD02', N'admin', N'CTVL', CAST(0x233F0B00 AS Date))
/****** Object:  Table [dbo].[DONHANG]    Script Date: 09/10/2019 18:06:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONHANG](
	[MADONHANG] [int] NOT NULL,
	[MAKH] [int] NULL,
	[NGAYDATHANG] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MADONHANG] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DONHANG] ([MADONHANG], [MAKH], [NGAYDATHANG]) VALUES (362562246, 2, CAST(0x2A3F0B00 AS Date))
INSERT [dbo].[DONHANG] ([MADONHANG], [MAKH], [NGAYDATHANG]) VALUES (387853000, 1, CAST(0x283F0B00 AS Date))
INSERT [dbo].[DONHANG] ([MADONHANG], [MAKH], [NGAYDATHANG]) VALUES (687080003, 1, CAST(0x283F0B00 AS Date))
/****** Object:  Table [dbo].[CHITIETNHAPHANG]    Script Date: 09/10/2019 18:06:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETNHAPHANG](
	[MANHAPHANG] [varchar](10) NULL,
	[MASP] [varchar](10) NULL,
	[SOLUONG] [int] NULL,
	[GIANHAP] [float] NULL,
	[GIABAN] [float] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CHITIETNHAPHANG] ([MANHAPHANG], [MASP], [SOLUONG], [GIANHAP], [GIABAN]) VALUES (N'HD01', N'CN', 30, 900000, 1100000)
INSERT [dbo].[CHITIETNHAPHANG] ([MANHAPHANG], [MASP], [SOLUONG], [GIANHAP], [GIABAN]) VALUES (N'HD01', N'CT', 30, 900000, 1100000)
INSERT [dbo].[CHITIETNHAPHANG] ([MANHAPHANG], [MASP], [SOLUONG], [GIANHAP], [GIABAN]) VALUES (N'HD002', N'CN', 30, 900000, 1100000)
/****** Object:  Table [dbo].[CHITIETDONHANG]    Script Date: 09/10/2019 18:06:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETDONHANG](
	[MADONHANG] [int] NULL,
	[MASP] [varchar](10) NULL,
	[SOLUONGSP] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CHITIETDONHANG] ([MADONHANG], [MASP], [SOLUONGSP]) VALUES (687080003, N'CT', 1)
INSERT [dbo].[CHITIETDONHANG] ([MADONHANG], [MASP], [SOLUONGSP]) VALUES (387853000, N'CN', 1)
INSERT [dbo].[CHITIETDONHANG] ([MADONHANG], [MASP], [SOLUONGSP]) VALUES (362562246, N'GO', 1000)
/****** Object:  ForeignKey [FK__SANPHAM__MALOAI__0519C6AF]    Script Date: 09/10/2019 18:06:35 ******/
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAISANPHAM] ([MALOAI])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
/****** Object:  ForeignKey [FK__NHAPHANG__MANCC__1DE57479]    Script Date: 09/10/2019 18:06:35 ******/
ALTER TABLE [dbo].[NHAPHANG]  WITH CHECK ADD FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
/****** Object:  ForeignKey [FK__NHAPHANG__TAIKHO__1CF15040]    Script Date: 09/10/2019 18:06:35 ******/
ALTER TABLE [dbo].[NHAPHANG]  WITH CHECK ADD FOREIGN KEY([TAIKHOAN])
REFERENCES [dbo].[QUANLY] ([TAIKHOAN])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
/****** Object:  ForeignKey [FK__DONHANG__MAKH__117F9D94]    Script Date: 09/10/2019 18:06:35 ******/
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
/****** Object:  ForeignKey [FK__CHITIETNH__MANHA__1FCDBCEB]    Script Date: 09/10/2019 18:06:35 ******/
ALTER TABLE [dbo].[CHITIETNHAPHANG]  WITH CHECK ADD FOREIGN KEY([MANHAPHANG])
REFERENCES [dbo].[NHAPHANG] ([MANHAPHANG])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
/****** Object:  ForeignKey [FK__CHITIETNHA__MASP__20C1E124]    Script Date: 09/10/2019 18:06:35 ******/
ALTER TABLE [dbo].[CHITIETNHAPHANG]  WITH CHECK ADD FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
/****** Object:  ForeignKey [FK__CHITIETDO__MADON__1367E606]    Script Date: 09/10/2019 18:06:35 ******/
ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD FOREIGN KEY([MADONHANG])
REFERENCES [dbo].[DONHANG] ([MADONHANG])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
/****** Object:  ForeignKey [FK__CHITIETDON__MASP__145C0A3F]    Script Date: 09/10/2019 18:06:35 ******/
ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
